<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>{{ isUpdate ? 'Update' : 'Create' }} Bill Item</h1>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId" placeholder="Select">
          <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Sub Category</mat-label>
        <mat-select formControlName="subCategoryId" placeholder="Select">
          <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory.id">{{ subCategory.name
            }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Value</mat-label>
        <input matInput formControlName="value" placeholder="0.00" type="number" />
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions class="mb-5">
    <button mat-raised-button color="primary" (click)="addUpdateItem()">
      <mat-icon>add</mat-icon>
      <span>{{ isUpdate ? 'Update' : 'Add' }} Bill Item</span>
    </button>

    <button class="ml-3" mat-raised-button color="secondary" (click)="cancel()">
      <mat-icon>cancel</mat-icon>
      <span>Cancel</span>
    </button>
  </mat-card-actions>
</mat-card>