<div class="flex flex-col">
  <div class="overflow-auto">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td class="w-[30%]" mat-cell *matCellDef="let subCategory">{{ subCategory.name }}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td class="w-[30%]" mat-cell *matCellDef="let subCategory">
          {{ subCategory.category.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="recurring">
        <th mat-header-cell *matHeaderCellDef>Recurring bill item</th>
        <td class="w-[20%]" mat-cell *matCellDef="let subCategory">
          {{ subCategory.recurring ? "Yes" : "No" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let subCategory">
          <button mat-icon-button color="primary" (click)="edit(subCategory)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="delete(subCategory)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="paginatorPageSizeOptions" [pageSize]="paginatorPageSize" showFirstLastButtons
      aria-label="Select page of periodic elements"></mat-paginator>
  </div>
</div>