/* You can add global styles to this file, and also import other style files */
@use "tailwindcss/base";
@use "tailwindcss/utilities";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  display: flex;
  flex-direction: column;  
  margin-top: 20px;
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

/* Responsive styles for mat-table */

// Adjust these variables as needed
$table-padding: 16px;
